*.csv
*.dat
*.iml
*.log
*.out
*.pid
*.seed
*.sublime-*
*.swo
*.swp
*.tgz
*.xml
*.history
.DS_Store
**/*.DS_Store
*/.DS_Store
.idea
.project
.strong-pm
coverage
node_modules
npm-debug.log
**/node_modules
*/node_modules
client/node_modules
client/dist
lib
.apiconnect
.settings
.env
# credentials
credentials.json
creds.data
**/data/botkit
*/data/botkit
data/botkit
